body{
	margin: 0px;
	background-color: #faf8da;
	font-family: Open Sans;
}

h1{
	margin: 46.9px;
	text-align: center;
	color: #205D76;
	font-size: 70px;
}

footer{
	color: white;
	background-color: #FFC122;
	text-align: center;
	font-size: 20px;
	padding: 2px;
}

nav{
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}

section{
	margin: 50px auto;
	width: 450px;
	display: flex;
}

h2{
	margin-left: auto;
    	color: #205D76;
    	font-size: 30px;
    	display: block;
    	font-weight: bold;
}

a{
  	color: #EA6E2F;
  	font-size: 20px;
}

li{
	font-size: 20px;
	text-align: none;
	padding-left: 15px;
}

}

ul{
	margin-left: 25px auto;
}

.img{
	width: 200px;
	margin-left: 20px auto;
	margin-right: 20px auto;
}




